* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:rgb(138, 170, 202);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: relative;
}


.search .input {
    background-color: snow;
    border: 0;
    font-size: 20px;
    padding: 15px;
    width: 50px;
    height: 50px;
    
    transition: width 0.5s linear;
}

.search-icon{
    width: 40px;
}

.btn {
    border: 0;
    cursor: pointer;
    font-size: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;

    transition: transform 0.5s linear;
}

.btn:focus, .input:focus {
    outline: none;
}

.search.active .input {
    outline: 200px;
}

.search.active .btn {
    transform: translatex(199px);
}








